################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/MOPS-2/v15/Server/sqlite3/storage.ide-wal
/.vs/MOPS-2/v15/Server/sqlite3/storage.ide-shm
/.vs/MOPS-2/v15/Server/sqlite3/storage.ide
/.vs/MOPS-2/v15/Server/sqlite3/db.lock
/.vs/MOPS-2/v15/.suo
/.vs/MOPS-2/v14/.suo
