<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HuesSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HuesSharp.Properties.Settings>
            <setting name="buildUpMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="blendMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colorSet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="discordMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="blurAmount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="blurDecay" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="blurQuality" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="skipPreloadWarn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shuffleImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="uiStyle" serializeAs="String">
                <value>0</value>
            </setting>
        </HuesSharp.Properties.Settings>
    </userSettings>
</configuration>